:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
input, textarea, select {
    font-family: inherit;
    width: 60%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
    margin-bottom: 10px;
}
form:first-child {
    margin-top: 10%;
}
#root {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.main, .row {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    background-color: lightslategrey;
    padding: 20px;
}
.row {
    background-color: #f9f9f9;
}
.row div {
    width: calc(100% / 7);
}
.main div {
    width: calc(100% / 7);
}
.icons div {
    min-width: 30px;
}
.icons {
    display: flex;
    align-items: center;
}
.button {
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    z-index: 1;
}
.button:hover {
    color: #fff;
    background-color: #646cff;
}
.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
form, .archive {
    top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    width: 95vw;
    height: 95vh;
    background-color: rgba(246, 246, 246, 0.92);
    z-index: 9999;
    overflow-y: scroll;
}
.form {
    padding-top: 150px;
}
.archive .edit {
    display: none;
    cursor: none;
}
.row .icons div svg:hover {
    cursor: pointer;
    color: #646cff;
    transform: scale(1.2);
}
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}